.welcome {
    background-image: url('background.jpg');
    background-size: cover;
    background-position-x: right;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;


}

.welcome-mockup {
    display: none;
}

a {
    color: white;
}

a:hover {
    color: white;
}

@media (min-width: 576px) { 

    .welcome {
        background-position-y: center;
    }

    .welcome-mockup {
        display: block;
    }

    .mockup-image {
        height: 400px;
        margin-right: 40px;
    }

    .welcome-text {
        width: 400px;
    }

}